fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
dropbox
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aioftp
pyodbc==4.0.40
dropbox==11.37.0
google-api-python-client==2.99.0
google-auth==2.23.0
